
html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

body {
  font-family: ibm-plex-mono,sans-serif;
font-weight: 400;
font-style: normal;
  margin: 0;
}


h2, h3, h4, h5, h6 {
  font-family: mundial; bold;
}

img {
    max-width: 100%;
}


.header{
  font-family: eckmannpsych-large; sans-serif;
  text-align: center;
}


.navbar {
  display: flex;
  background-color: black;
  font-size: 20px;
  font-family: mundial, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: orange;
  color: black;
}



.header2 {
  font-family: mundial, sans-serif;
font-weight: 700;
font-style: normal;
text-align: center;
}

/*clickable links to parts of page grid*/
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
  background-color: white;
  padding: 15px;
}

.grid-item a:hover {
  color: orange;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/* Column container */

  @media  (max-width: 400px) {
    .row, .navbar {
      flex-direction: column;
    }
    .header{
      font-size: 40px;
    }
  }


  @media  (min-width: 600px) {
    .row, .navbar {
      flex-direction: column;
    }
    .header{
      font-size: 60px;
      .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
          grid-column-gap: 50px;
        background-color: white;
        padding: 15px;
      }
    }
    }
  }
